*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: consolas;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #cfd1e1;
}
.barra {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 50px;
    transition: 0.5s;
    
}
.barra:hover {
    width: 400px;
}

.barra::before{
    position: absolute;
    content: '';
    left: 0;
    width: 10px;
    height: 50px;
    z-index: 1;
    background: linear-gradient(#fff, #fff, #e3e3e3);
    filter: blur(1px);
}

.barra::after{
    position: absolute;
    content: '';
    right: -1px;
    width: 10px;
    height: 50px;
    z-index: 1;
    background: #9d9d9d;
    filter: blur(1px);
}



.barra input {
    position: relative;
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    font-size: 1.1em;
    padding: 0.5em 20px;
    background: linear-gradient(#dbdae1, #a3a3a3);
    color: #555;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1), 
        15px 15px 15px rgba(0,0,0,0.1),
        20px 20px 15px rgba(0,0,0,0.1),
        30px 30px 15px rgba(0,0,0,0.1),
        inset 1px 1px 2px #fff;
       
}

.barra input::placeholder,
.barra input
 {
    
    color: transparent;
}

.barra input:hover::placeholder,
.barra input:hover {

    
    color: #555;
}


.sombra {
    position: absolute;
    width: calc(100% + 50px);
    height: 300px;
    top:0;
    left: -50px;
    background: linear-gradient(180deg, rgba(0,0,0,0.1), 
        transparent, transparent);
    transform-origin: top;
    transform: skew(45deg);
    pointer-events: none;
}

.sombra::before {
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    background-color: #cfd1e1;
     z-index: 1;
}

ion-icon {
    position: absolute;
    right: 20px;
    font-size: 1.5em;
    cursor: pointer;
    color: #555;
}
    